/*
 * -------------------------------------------------
 *  nf-core/slamseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Load nf-core custom profiles from different Institutions
/*
try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}
*/

/* 
------------| HIGHEST
          --parameter value
command         v
line      -params-file
                v
   HERE > -c my_config
--------------- v
          launchDir/nextflow.config
config          v
file      projectDir/nextflow.config
                v
          $HOME/.nextflow/config
--------------- v
workflow  workflow.nf
------------| LOWEST
*/


profiles {
  
    /* HPCC SETTINGS (UoN) */

    augusta {


        /* WORKFLOW */

        // launchDir/<workDir>/
        workDir = 'augusta'


        /* PROCESS */

        process.beforeScript = 'umask 0022'

        // load further process config file
        includeConfig './AugustaProcess.config'


        /* SLURM */

        process.executor       = 'slurm'


        /* SINGULARITY */

        process.module              = 'singularity/3.4.2'
        singularity.enabled         = true
        singularity.autoMounts      = true

        // launchDir/<cachDir>/image.[sif|img]
        singularity.cacheDir        = 'singularity'

        // global options; singularity [OPTIONS] exec...
        singularity.engineOptions = '--verbose'

    }

}

